In [1]:
# pandas
import pandas as pd

In [2]:
data =  pd.read_csv("salary/salary_features.csv")
data.head()

,Rating,Company Name,Job Title,Salary,Salaries Reported,Location,Employment Status,Job Roles
0,3.8,Sasken,Android Developer,400000,3,Bangalore,Full Time,Android
1,4.5,Advanced Millennium Technologies,Android Developer,400000,3,Bangalore,Full Time,Android
2,4.0,Unacademy,Android Developer,1000000,3,Bangalore,Full Time,Android
3,3.8,SnapBizz Cloudtech,Android Developer,300000,3,Bangalore,Full Time,Android
4,4.4,Appoids Tech Solutions,Android Developer,600000,3,Bangalore,Full Time,Android

In [3]:
sliced_x = data.iloc[:,0:3].join(data.iloc[:,4:8])
sliced_x.head()

,Rating,Company Name,Job Title,Salaries Reported,Location,Employment Status,Job Roles
0,3.8,Sasken,Android Developer,3,Bangalore,Full Time,Android
1,4.5,Advanced Millennium Technologies,Android Developer,3,Bangalore,Full Time,Android
2,4.0,Unacademy,Android Developer,3,Bangalore,Full Time,Android
3,3.8,SnapBizz Cloudtech,Android Developer,3,Bangalore,Full Time,Android
4,4.4,Appoids Tech Solutions,Android Developer,3,Bangalore,Full Time,Android

In [4]:
from sklearn.preprocessing import LabelEncoder
toBeEncode = ['Company Name','Job Title','Location','Employment Status','Job Roles']
encoder = LabelEncoder()
for col in toBeEncode:
    sliced_x[col]= encoder.fit_transform(sliced_x[col])

In [5]:
sliced_y = data.iloc[:,3:4].values
# sliced_y.head()

In [6]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(sliced_x,sliced_y,test_size=0.3)

In [7]:
# svm
from sklearn import svm
classifier = svm.SVC(kernel='linear')
classifier.fit(train_x,train_y)

/home/codespace/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# predict 
result = classifier.predict(test_x)
print(f"Result : {result}")

Result : [400000 400000 400000 ... 400000 400000 400000]

In [ ]:
# accuracy
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(result,test_y)
print(f"Accuracy: {accuracy}")

Accuracy: 0.07670912018738106

In [ ]:
# Precison
from sklearn.metrics import precision_score
precision = precision_score(result,test_y,average='weighted')
print(f"Precision: {precision}")

Precision: 0.8920610901109469

In [ ]:
# Recall
from sklearn.metrics import recall_score
recall = recall_score(result,test_y,average='weighted')
print(f"Recall: {recall}")

Recall: 0.07670912018738106

/home/codespace/.local/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [ ]:
# F1
from sklearn.metrics import f1_score
f1 = f1_score(result,test_y,average='weighted')
print(f"F1: {f1}")

F1: 0.13259169876055146