In [2]:
# import pandas
import pandas as pd

In [4]:
# reading data from file
social_data=pd.read_csv("dummy_data.csv")

In [11]:
#printing first 5 records
print("FIRST 5 RECORDS")
print(f"{social_data.head()}")

print("\nLAST 5 RECORDS")
print(f"{social_data.tail()}")

FIRST 5 RECORDS
   age      gender  time_spent   platform  interests        location  \
0   56        male           3  Instagram     Sports  United Kingdom
1   46      female           2   Facebook     Travel  United Kingdom
2   32        male           8  Instagram     Sports       Australia
3   60  non-binary           5  Instagram     Travel  United Kingdom
4   25        male           1  Instagram  Lifestlye       Australia

  demographics         profession  income  indebt  isHomeOwner  Owns_Car
0        Urban  Software Engineer   19774    True        False     False
1        Urban            Student   10564    True         True      True
2    Sub_Urban   Marketer Manager   13258   False        False     False
3        Urban            Student   12500   False         True     False
4        Urban  Software Engineer   14566   False         True      True

LAST 5 RECORDS
     age      gender  time_spent   platform  interests        location  \
995   22      female           8  Instagram  Lifestlye  United Kingdom
996   40  non-binary           6    YouTube     Travel  United Kingdom
997   27  non-binary           5    YouTube     Travel  United Kingdom
998   61      female           4    YouTube     Sports       Australia
999   19      female           8    YouTube     Travel       Australia

    demographics         profession  income  indebt  isHomeOwner  Owns_Car
995        Rural   Marketer Manager   18536   False         True     False
996        Rural  Software Engineer   12711    True        False     False
997        Rural            Student   17595    True        False      True
998    Sub_Urban   Marketer Manager   16273    True         True     False
999        Rural            Student   16284   False         True     False

In [16]:
#fatching any single row
print(f"{social_data.loc[1]}")

#info
print("\nINFO ABOUT DATA \n",social_data.info())

age                         46
gender                  female
time_spent                   2
platform              Facebook
interests               Travel
location        United Kingdom
demographics             Urban
profession             Student
income                   10564
indebt                    True
isHomeOwner               True
Owns_Car                  True
Name: 1, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           1000 non-null   int64
 1   gender        1000 non-null   object
 2   time_spent    1000 non-null   int64
 3   platform      1000 non-null   object
 4   interests     1000 non-null   object
 5   location      1000 non-null   object
 6   demographics  1000 non-null   object
 7   profession    1000 non-null   object
 8   income        1000 non-null   int64
 9   indebt        1000 non-null   bool
 10  isHomeOwner   1000 non-null   bool
 11  Owns_Car      1000 non-null   bool
dtypes: bool(3), int64(3), object(6)
memory usage: 73.4+ KB

INFO ABOUT DATA
 None